/* use this to style specific classes */
/* to use in page.tsx use <main className={styles.main}> */
/* then in this css doc, just use basic .main css syntax */

.main {
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
