/* use this to style specific classes */
/* to use in page.tsx use <main className={styles.main}> */
/* then in this css doc, just use basic .main css syntax */

.main {
  display: flex;
  justify-content: center;
}

.randomSelector, .heroInfo, .whoWins {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.heroPic {
  width: 5rem;
  border-radius: 1rem ;
}

.whoWins {
  flex-direction: column;
}
